.body-admin .header {
	margin-bottom: 20px;
	padding-bottom: 12px;
	border-bottom: solid 1px #ccc;
}

.body-admin_mainpage .header {
	margin-bottom: 0 ;
	border-bottom: 0;
}

.body-admin .top-bar {
	margin-bottom: 4px;
	border-bottom: solid 7px #fff;
}

.body-admin_green .top-bar {
	background: url("../i/sprite7.png");
}

.body-admin_yellow .top-bar {
	background: url("../i/sprite9.png");
}

.body-admin .top-bar .wrapper {
	padding: 7px 0 4px 0;
	position: relative;
}

.body-admin .top-bar .wrapper:after {
	background: url("../i/sprites.png") no-repeat scroll 0 -1423px rgba(0, 0, 0, 0);
	bottom: 0;
	content: "";
	height: 40px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 147px;
}

.body-admin_mainpage.body-admin_green .container {
	background: url("../i/sprite7.png");
}

.body-admin_mainpage.body-admin_yellow .container {
	background: url("../i/sprite9.png");
}

.administration {
	margin: 83px 0 47px 0;
	font-size: 0;
}

.admin-block {
	width: 183px;
	display: inline-block;
	vertical-align: top;
}

.administration .admin-block {
	margin-left: 14px;
}

.administration .admin-block:first-child {
	margin-left: 0;
}

.admin-block h4 {
	color: #fff;
	margin: -30px 0 0 0;
	width: 183px;
	position: absolute;
	text-align: center;
	font: normal 36px/36px 'Font1 Bold';
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.admin-block > div {
	position: relative;
	z-index: 2;
	text-align: center;
	background: #fff;
	height: 385px;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.admin-block ul {
	margin: 0 0 160px 0;
	text-align: left;
	padding: 34px 0 0 0;
	list-style: none;
	font: 16px 'Font1 Light';
}

.admin-block ul li {
	margin: 0;
	padding: 0;
	list-style-image: none !important;
}

.admin-block li:first-child {
	border-top: solid 1px #e5e5e5;
}

.admin-block ul a {
	display: block;
	border-bottom: solid 1px #e5e5e5;
	padding: 7px 5px 7px 22px;
	text-decoration: none;
	color: #000;
}

.admin-block [class^="icon"] {
	position: absolute;
	bottom: 28px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.body-admin_green .admin-block ul a:hover {
	color: #fff;
	background: #7f9d14 url("../i/sprites-x.png") 0 -800px repeat-x;
}

.body-admin_yellow .admin-block ul a:hover {
	color: #fff;
	background: #d0aa22 url("../i/sprites-x.png") 0 0 repeat-x;
}

.user-bar {
	float: right;
	font-size: 16px;
	margin-top: 10px;
}

.user-bar > * {
	padding: 0 6px 2px 6px;
	margin-left: 16px;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.user-bar > *:after {
	content: '|';
	color: #fff;
	position: absolute;
	left: -11px;
}

.user-bar > *:first-child:after {
	display: none;
}

.body-admin_green .user-bar .name,
.body-admin_green .user-bar a:hover {
	background: #8ca72c;
}

.body-admin_yellow .user-bar .name,
.body-admin_yellow .user-bar a:hover {
	background: #e89b1b;
}

.user-bar a span {
	color: #fff;
	border-bottom: dashed 1px;
}

.user-bar a:hover span {
	border: 0;
}

.body-admin .nav-bar {
	background: #e5e5e5;
	height: 40px;
}

.body-admin .nav-bar .wrapper {
	height: inherit;
}

.body-admin .nav-bar .wrapper > * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.body-admin nav.primary {
	width: 700px;
	margin: 0;
	background: #7f7f7f;
	vertical-align: top;
	height: inherit;
	padding-top: 7px;
	border-right: solid 1px #fff;
}

.body-admin nav.primary > ul > li > a,
.body-admin nav.primary > ul > li > div {
	padding: 2px 18px 9px 18px;
}

.body-admin nav.primary > ul > li > div,
.body-admin nav.primary > ul > li > .current {
	background: #7f7f7f;
	color: #dcf15a;
}

.body-admin nav.primary > ul ul {
	background: #7f7f7f;
}

.body-admin_green nav.primary > ul > li > a:hover,
.body-admin_green nav.primary > ul > li > .active  {
	color: #dcf15a;
}

.body-admin_green nav.primary > ul > li > a:hover .icon-,
.body-admin_green nav.primary > ul > li > .active .icon- {
	background-position: -36px -220px;
}

nav.primary > ul ul a:hover {
	color: #dcf15a;
}

.account_clients-data {
	width: 272px;
	padding: 8px 0 0 26px;
	vertical-align: top;
	height: inherit;
	float: right;
}

.account_clients-data > * {
	display: inline-block;
}

.account_clients-data > *:first-child {
	margin-right: 38px;
}

.account_clients-data a {
	color: #000;
}

.category {
	margin-bottom: 50px;
}

.category.-visible .dishes-list {
	display: block;
}

.category .title {
	background: #ecebeb;
	padding: 2px 10px 3px 32px;
}

.category .title .col:first-child {
	max-width: 458px;
}

.category .title h2 {
	color: #373737;
	font: 33px/1em 'Font1 Medium';
	margin: 0 5px 0 0;
	display: inline;
	vertical-align: middle;
	cursor: pointer;
}

.category .title h2:before {
	position: absolute;
	content: '';
	margin: .3em 0 0 -20px;
	width: 15px;
	height: 15px;
	z-index: 10;
	background: url("../i/sprites.png") 0 -1558px;
}

.category.-visible .title h2:before {
	height: 3px;
	margin-top: .47em;
	background: #373737;
}

.category .title input {
	color: #373737;
	font: 24px/39px Font1;
	width: 420px;
	height: 40px;
	margin: 0 5px 0 -27px;
}

.category .title .icon-check {
	margin: .5em 0 0 6px;
	cursor: pointer;
}

.category .title ._controls a {
	padding-left: 8px;
	margin-right: 8px;
	border-left: solid 1px #d4d3d3;
}

.category .title ._controls a:first-child {
	border: 0;
}

.category .title ._controls [class^="icon"] {
	margin-right: 4px;
}

.dishes-list {
	display: none;
	padding: 0 16px;
	border: solid 1px #ccc;
	border-top: 0;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.dishes-list .form-addnewdish {
	margin: 0 -16px;
	width: 978px;
	display: none;
}

.dish {
	display: table;
	width: 100%;
	border-bottom: solid 1px #ccc;
}

.dish h3 {
	color: #373737;
	font-size: 18px;
	margin-bottom: .2em;
}

.dish .col {
	vertical-align: middle;
	display: table-cell;
	padding: 20px 0;
}

.dish .col:first-child {
	width: 450px;
	padding-right: 15px;
	font-size: 16px;
}

.dish .col:first-child p {
	line-height: 1.2em;
}

.dish .col:first-child + .col,
.dish .col:first-child + .col + .col {
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
	font: 26px 'Font1 Medium';
}

.dish .col:first-child + .col + .col {
	color: #b30b0b;
}

.dish .col:first-child + .col + .col + .col {
	padding-left: 11px;
	padding-right: 11px;
	width: 217px;
}

.dish .image {
	width: 217px;
	height: 145px;
	overflow: hidden;
	background: #f0f0f0 url("../i/photo-stub.png") 50% 50% no-repeat;
}

.dish ._controls,
.resvn ._controls {
	width:107px;
	padding: 4px 0 3px 11px;
	border-left: solid 4px #aec545;
}

.dish ._controls a,
.resvn ._controls a {
	display: block;
	white-space: nowrap;
	margin-bottom: 8px;
}

.dish ._controls .icon-edit,
.resvn ._controls .icon-edit {
	margin-right: 7px;
}

.dish ._controls .icon-eye,
.resvn ._controls .icon-eye {
	margin-right: 4px;
}

.dish ._controls .icon-up,
.dish ._controls .icon-down {
	margin: 0 9px 0 5px;
}

.dish ._controls .icon-del1,
.resvn ._controls .icon-del1 {
	margin: 0 8px 0 4px;
}

.dishes-list .toggle {
	margin: 15px 0 30px 0;
}

.dishes-list .toggle span {
	color: #9c0103;
	background: url("../i/border1.png") 0 100% repeat-x;
	font-size: 24px;
	cursor: pointer;
}

.resvn-list {
	margin: 34px 0 24px 0;
	border-top: solid 1px #e5e5e5;
}

.resvn-list .resvn {
	padding: 34px 0;
	margin-bottom: 0;
}

.resvn-list .resvn ._controls {
	vertical-align: middle;
}

.resvn-list .resvn ._controls a {
	margin-bottom: 15px;
}

.filter2 {
	margin: 27px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: solid 1px #ccc;
}

.filter2 > * {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #000 !important;
	margin: 3px 18px 16px 16px;
	background: url("../i/border4.png") 0 100% repeat-x;
}

.filter2 .-active {
	background: #d7e585;
	padding: 3px 16px 6px 16px;
	margin: 0 15px 10px 0;
	font-family: 'Font1 Medium';
}

.filter3 {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}

.filter3 a {
	color: #878787;
	text-decoration: none;
	border-bottom: dashed 1px;
}

.filter3 a:hover {
	color: #000;
}

.filter3 .col {
	display: table-cell;
	vertical-align: middle;
}

.filter3 .col1 {
	width: 140px;
	text-align: right;
}

.filter3 .col2 {
	padding: 0 50px;
	text-align: center;
}

.filter3 .col2 .prev:before {
	content: '\2190';
	font-size: 20px;
	color: #ccc;
}

.filter3 .col2 .next:after {
	content: '\2192';
	font-size: 20px;
	color: #ccc;
}

.filter3 .col2 a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
}

.filter3 .col3 {
	width: 140px;
}

.filter3 p {
	margin-bottom: 5px;
}

.filter3 .-active {
	background: #d7e585;
	padding: 5px 8px 8px 8px;
	color: #373737;
	border: 0;
	margin: 0 40px;
	font-family: 'Font1 Medium';
}

.filter4 {
	background: #e5e5e5 url("../i/sprite4.png") 0 0;
	padding: 13px 0;
	display: table;
	width: 100%;
	margin-bottom: 42px;
}

.filter4 > .col {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

.filter4 > .col + .col {
	padding: 0 15px 0 26px;
	border-left: solid 4px #a71613;
}

.filter4 > .col + .col .btn {
	width: 160px;
}

.filter4 .row {
	margin-top: 17px;
}

.filter4 .row:first-child {
	margin-top: 0;
}

.filter4 .row-dates .field-datepicker {
	margin: 0 10px 0 2px;
}

.filter4 ._col1 {
	text-align: right;
	margin: 0 10px 0 0;
}

.filter4 ._col2 {
	width: 110px;
	margin-right: 10px;
}

.filter4 ._col3 > div {
	background: #cfcfcf;
	margin-bottom: 7px;
	padding: 1px 5px;
}

.filter4 ._col3 > div {
	background: #cfcfcf;
	margin-bottom: 7px;
	padding: 0 5px 3px 5px;
	display: inline-block;
}

.filter4 p {
	margin-bottom: 7px;
}

.filter4 .cb {
	font-size: 15px;
	margin-left: 20px;
}

.filter4 ._col3 > div .rd + .cb {
	width: 100px;
	margin-left: 0;
}

.filter4 ._col3 > div .rd + .cb + .cb{
	margin-left: 0;
}

.filter4 .rd {
	width: 110px;
}

table.table-resvns1 {
	margin: 0;
}

.table-resvns1 ._place {
	width: 140px
}

.table-resvns1 ._visit,
.table-resvns1 ._visit a {
	font-size: 14px;
	color: #8b8b8b;
	margin-top: 4px;
}

.resvn-summary1 {
	margin: 0 0 10px 14px;
}

.resvn-summary1 > span {
	margin-right: 23px;
}

.resvn-summary1 .sum {
	color: #86a328;
	font-size: 22px;
}

.reply .buttons {
	margin: 10px 0 0 0;
	text-align: right;
}

.reply .buttons > * {
	margin-left: 14px;
}

.reply .buttons [class^="icon"] {
	margin-right: 5px;
}

.reply textarea {
	height: 100px;
	width: 100%;
	margin: 8px 0 0 0;
}

.comment .answer-btn {
	margin-left: 13px;
	font-size: 14px;
	font-style: normal !important;
}

.comment .answer-btn [class^="icon"] {
	margin-right: 3px;
}


.buttons2 > * {
	margin: 0 0 0 38px;
}

.buttons2 > *:first-child {
	margin: 0;
}

.buttons2 [class^="icon"] {
	margin-right: 5px;
}

.text1 {
	margin: 0 0 10px 0;
}

.text1 ._col1 {
	width: 630px;
	display: inline-block;
	vertical-align: bottom;
}

.text1 ._col1 p {
	line-height: 1.2em;
}

.text1 .buttons2 {
	width: 320px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.admin-photogallery {
	background: #f2f2f2;
	padding: 30px;
	margin: 0;
	list-style: none;
}

.admin-photogallery label {
	width: 276px;
	height: 181px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 17px 0 0 19px;
	margin: 0 40px 34px 0;
	border: solid 1px #d8d8d8;
}

.admin-photogallery label:nth-child(3n) {
	margin-right: 0;
}

.admin-photogallery label:hover {
	box-shadow: 3px 3px 0 rgba(0,0,0,.13);
}

.admin-photogallery img {
	width: 217px;
}

.admin-photogallery .-active {
	background: #fff;
}

.admin-photogallery .icon-cb {
	position: absolute;
	right: 6px;
	top: 17px;
}

.info {
	height: 95px;
	color: #797979;
	background: #f2f2f2;
	padding: 10px;
	font: 14px/1.6em Font1;
	text-align: left;
	margin: -144px 14px 160px 14px;
}