.btn {
	height: 38px;
	padding: 0 13px;
	font: 22px/36px Lobster;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	cursor: default;
	border: 0;
	background: url("../i/sprites-x.png") 0 0 repeat-x;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=4, Color='#33000000');

}

.btn:focus, .btn:active {
	outline: 0;
}

.btn.-yellow, .btn.-red, .btn.-grey, .btn.-green {
	color: #fff !important;
	text-shadow: 0 1px 0 #777;
	box-shadow: 4px 4px 0 rgba(0,0,0,.13);
	background-position: 0 0;
	background-color: #d0aa22;
}

.btn.-yellow:hover, .btn.-yellow:active {
	background-position: 0 -100px;
	background-color: #d09e20;
}

.btn.-yellow:active,
.btn.-red:active,
.btn.-grey:active,
.btn.-green:active {
	top: 1px;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}

.btn.-red {
	color: #fff !important;
	text-shadow: 0 1px 0 #333;
	background-position: 0 -200px;
	background-color: #942929;
}

.btn.-red:hover, .btn.-red:active {
	background-position: 0 -300px;
	background-color: #941c1c;
}

.btn.-grey {
	color: #fff !important;
	background-position: 0 -400px;
	background-color: #d0aa22;
}

.btn.-grey:hover, .btn.-grey:active {
	background-position: 0 -500px;
	background-color: #d09e20;
}

.btn.-green {
	color: #fff !important;
	background-position: 0 -600px;
	background-color: #9ab34b;
}

.btn.-green:hover, .btn.-green:active {
	background-position: 0 -700px;
	background-color: #537e00;
}

.btn.-small {
	height: 27px;
	font-size: 20px;
	line-height: 25px;
	padding: 0 5px;
}

.btn.-small1 {
	height: 23px;
	font-size: 18px;
	line-height: 21px;
	padding: 0 18px;
}

.btn.-wide {
	padding-left: 25px;
	padding-right: 25px;
}

.btn.-reload {
	cursor: pointer;
}

.btn[disabled] {
	top: 0 !important;
	color: #ccc !important;
	text-shadow: none !important;
	box-shadow: none !important;
	opacity: 0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);/*IE6+*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";/*IE8*/
}