@import "fonts.css";

@import "normalize.css";

html, body, body > form {
	height: 100%;
}

html,
button,
input,
select,
textarea {
	color: #373737;
}

body {
	font-size: 15px;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #86b9ed;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #86b9ed;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

a {
	color: #6d8607;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #8cae00;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

.absolute {
	position: absolute;
}

.ib {
	display: inline-block;
	vertical-align: middle;
}

.col {
	vertical-align: top;
	display: inline-block;
}

.cols-wrapper {
	position: relative;
	line-height: 0;
	text-align: justify;
	*text-align-last: justify;
	*text-justify: newspaper;
	*zoom: 1;
}

.cols-wrapper:after {
	height: 0;
	width: 100%;
	content: '\00a0';
	visibility: hidden;
	display: inline-block;
}

.cols-wrapper > * {
	text-align: left;
	position: relative;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}

.col_fill  {
	display: table;
	position: relative;
}

.col_fill:after {
	content: '. .';
	display: block;
	word-spacing: 99in;
	height: 0;
	overflow: hidden;
	/*Opera bugfix*/
	font-size: 0.05em;
	line-height: 0.05em;
}

label {
	cursor: default;
}

.valign-middle {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	*height: auto;
	*margin-top: expression((parentNode.offsetHeight-offsetHeight)<0?'0':(parentNode.offsetHeight-offsetHeight)/2+'px');
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after,
[class^="layout"]:before, [class^="layout"]:after,
.top-bar:before, .top-bar:after, .logo-bar:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after, [class^="layout"]:after, .top-bar:after, .logo-bar:after {
	clear: both;
}

h1 {
	font: normal 30px 'Font1 Extralight';
	margin: 0 0 30px 0;
}

h2 {
	font: normal 24px 'Font1 Light';
	margin: 0 0 8px 0;
	color: #be0002;
}

.aside h2 {
	color: #968b85;
	margin: 0 0 30px 0;
	font: normal 30px 'Font1 Extralight';
}

.fancybox-skin h2 {
	color: #000;
	font-size: 30px;
}

h3 {
	font: normal 21px 'Font1 Bold';
	margin: 0 0 8px 0;
	color: #be0002;
}

h4 {
	font: normal 18px 'Font1 Bold';
	margin: 0 0 8px 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

@import 'layouts.css';

@import "forms.css";

@import "buttons.css";

@import "icons.css";

.carousel {
	width: 732px;
	height: 192px;
	overflow: hidden;
	position: relative;
	margin-bottom: 19px;
}

.carousel .items {
	width: 732px;
	height: 192px;
	overflow: hidden;
}

.carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.carousel li {
	float: left;
	width: 732px;
	height: 192px;
}

.carousel-nav {
	position: absolute;
	z-index: 100;
	bottom: 11px;
	right: 15px;
	text-align: right;
}

.carousel-nav div {
	width: 5px;
	height: 5px;
	background: #918181;
	margin-left: 6px;
	display: inline-block;
	cursor: default;
	overflow: hidden;
}

.carousel-nav .active {
	background: #fff;
}

.top-bar {
	color: #fff;
	height: 56px;
	margin-bottom: 33px;
	background: #c84e42 url("../i/sprite1.png") 50% 0 no-repeat;
}

.top-bar .wrapper {
	padding: 16px 0 20px 0;
}

.logo-bar {
	height: 79px;
	position: relative;
	padding-bottom: 19px;
	background: url("../i/sprite2.png") 487px 100% no-repeat;
}

.logo-bar:before {
	left: 0;
	bottom: 0;
	height: 7px;
	content: '';
	z-index: 100;
	width: 980px;
	position: absolute;
	background: url("../i/border3.png");
}

.main-page .logo-bar:before {
	width: 732px;
}

.logo-bar .col {
	text-align: right;
	float: right;
}

.set-location, a.signin {
	color: #9f342c;
	cursor: default;
	font: 16px Font1;
	text-decoration: none;
	margin-left: 5px;
	position: relative;
	background: url("../i/border1.png") 0 100% repeat-x;
}

.set-location {
	margin-left: 0;
}

.set-location [class^="icon"] {
	position: absolute;
	left: -19px;
	margin-top: 2px;
}

a.signin {
	color: #79901b;
	background-image: url("../i/border2.png");
}

.logo {
	float: left;
	margin-right: 55px;
}

.motto {
	float: left;
	color: #898078;
	margin-top: 14px;
	font: 24px 'Font1 Extralight';
}

nav.primary {
	float: left;
	font: 16px 'Font1 Bold';
}

nav.primary > ul {
	margin: 0;
	padding: 0;
}

nav.primary > ul > li {
	float: left;
	margin-right: 37px;
}

nav.primary > ul > li > a {
	color: #fff;
	padding: 0 0 3px 0;
	display: inline-block;
	text-decoration: none;
}

nav.primary > ul > li > a .icon- {
	width: 8px;
	height: 6px;
	background-position: 0 -220px;
	margin-left: 7px;
}

nav.primary > ul > li > a:hover,
nav.primary > ul > li > .active {
	color: #ffadab;
}

nav.primary > ul > li > a:hover .icon-,
nav.primary > ul > li > .active .icon- {
	width: 8px;
	height: 14px;
	background-position: -24px -220px;
}

nav.primary > ul ul {
	margin: 0;
	color: #fff;
	z-index: 1000;
	position: absolute;
	padding: 15px 15px;
	visibility: hidden;
	display: none;
	white-space: nowrap;
	background: #791817;
	font: 16px/1.25em 'Font1';
}

nav.primary .title {
	margin-top: -6px;
	font: 18px 'Font1 Bold';
}

nav.primary > ul ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 0 0;
	min-width: 135px;
}

nav.primary > ul ul a {
	color: #fff;
	display: block;
	text-decoration: none;
	border: solid 1px #791817;
	border-radius: .3em;
	padding: 2px 6px;
}

nav.primary > ul ul a:hover {
	color: #ffadab;
}

.nav-visible {
	visibility: visible !important;
}

nav.secondary {
	float: right;
	font: 16px Font1;
}

nav.secondary a {
	color: #e9d4bf;
	margin-left: 20px;
	text-decoration: none;
}

nav.secondary [class^="icon"] {
	margin-right: 1px;
}

nav.secondary a:hover {
	color: #ffadab;
}

.banners {
	margin-bottom: 63px;
}

.banners a {
	display: block;
	margin-bottom: 19px;
}

.search-box {
	position: relative;
	margin-bottom: 24px;
	min-height: 65px;
	background: url("../i/sprite3.png") 0 0 repeat-x;
	padding: 14px 13px 12px 13px;
}

.search-box .normal input[type="text"] {
	float: left;
	width: 552px;
	height: 37px;
	font-size: 17px;
	border-right-color: #fff;
	border-bottom-color: #fff;
	padding: 0 10px;
	margin-right: 17px;
}

.search-box .advanced {
	display: none;
	margin-bottom: 33px;
}

.search-box .advanced .col:first-child + .col {
	width: 135px;
}

.search-box .advanced .col:first-child {
	width: 565px;
}

.search-box [class^="btn"] {
	font-size: 24px;
}

.table {
	display: table;
}

.table > div {
	display: table-cell;
}

.search-box .advanced .checkboxes {
	width: 534px;
}

.search-box .advanced .checkboxes > div {
	border-left: solid 12px transparent;
}

.search-box .advanced .checkboxes > div:first-child {
	border: 0;
}

.search-box .cb {
	color: #6d6d6d;
	padding: 5px 8px 7px 30px;
	background: rgba(255,255,255,.4);
	display: block;
	min-width: 90px;
	font: 14px arial, helvetica cy, helvetica, sans-serif;
}

.search-box .cb.-active {
	color: #000;
}

.search-box input[type="text"] {
	width: 350px;
	padding-right: 21px;
}

.search-box .field-w-icon {
	margin: 0 17px 12px 0;
}

.search-box .select {
	width: 165px;
	margin: 0 17px 12px 0;
}

.search-box .toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #433f3e;
	padding: 2px 0 5px 0;
	text-align: center;
	font: 15px 'Font1 Light';
	text-transform: uppercase;
	background: url("../i/sprite4.png");
}

.search-box .toggle div {
	display: inline-block;
	padding-bottom: 1px;
	cursor: pointer;
	background: url("../i/border4.png") 0 100% repeat-x;
}

.search-box .toggle div:before,
.search-box .toggle div:after {
	width: 12px;
	content: '';
	height: 6px;
	position: absolute;
	margin: .5em 0 0 -22px;
	background: url("../i/sprites.png") 0 -183px;
}

.search-box .toggle div:after {
	margin: .5em 0 0 12px;
}

.search-box .toggle div.alt:before,
.search-box .toggle div.alt:after {
	background-position: 0 -192px;
}

.search-box .select,
.search-box input[type="text"] {
	height: 29px;
}

.field-w-icon {
	vertical-align: middle;
	position: relative;
	display: inline-block;
}

.field-w-icon [class^="icon"] {
	right: 7px;
	z-index: 100;
	position: absolute;
	margin: 0.45em 0 0 0;
}

.dashed-border_red {
	cursor: default;
	text-decoration: none;
	background: url("../i/border1.png") 0 100% repeat-x;
}

.-red, .-red:visited {
	color: #a92f28;
}

.-black, .-black:visited {
	color: #000;
}

.filter {
	margin-bottom: 17px;
	overflow: hidden;
	font: 16px 'Font1 Light';
}

.filter * {
	float: left;
	text-align: center;
	min-width: 132px;
	padding: 7px 15px 6px 15px;
	margin: 0 18px 18px 0;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
		    transition: all 0.2s ease;
}

.filter a {
	color: #958776;
	text-decoration: none;
	background: #f9f1cd;
}

.filter div, .filter a:hover {
	color: #6a5a51;
	background: #efdc83;
}

h1 + .filter {
	margin-top: -17px;
}

.object {
	margin: 0;
	padding: 0;
	width: 350px;
	height: 170px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.object dt {
	border-top: solid 7px #840000;
	float: left;
	margin-right: 14px;
}

.object dt img:hover {
	opacity: 0.8;
}

.object dd {
	overflow: hidden;
}

.object p {
	font-size: 13px;
}

.object .location {
	font: italic 12px/1.4em arial, helvetica cy, helvetica, sans-serif;
	color: #262220;
	margin-bottom: 10px;
}

.object .location a {
	color: #262220 !important;
	text-decoration: none;
}

.object .location a [class^="icon"] {
	margin-left: 5px;
	vertical-align: text-bottom;
}

.object .location a:hover {
	text-decoration: underline;
}

.object .title {
	margin: 0 0 12px 0;
	font: 18px/1.1em Font1;
	color: #9c0103;
}

.object .title a {
	color: #9c0103;
	text-decoration: none;
}

.object .title a:hover {
	color: #f24638;
}

.objects .object:nth-child(2n) {
	margin: 0 0 11px 22px;
}

.rating {
	font: 12px arial, helvetica cy, helvetica, sans-serif;
}

.rating a {
	color: #e5ba38;
	margin-left: 6px;
	text-decoration: none;
}

.blogposts-short {
	color: #585858;
	margin: 0;
	padding: 0;
	list-style: none;
	font: 12px arial, helvetica cy, helvetica, sans-serif;
}

.blogposts-short li {
	margin-bottom: 46px;
}

.blogposts-short a,
.blogposts-short a:visited {
	color: #c43e35;
}

.blogposts-short a:hover {
	color: #f24638;
	text-decoration: none;
}

.blogposts-short img {
	vertical-align: top;
	margin-bottom: 9px;
}

.blogposts-short p {
	margin-bottom: 0;
	line-height: 1.5em;
}

.blogposts-short .title {
	margin-bottom: 18px;
	font: 16px Font1;
}

.footer-nav {
	font-size: 15px;
	margin: 8px 0 47px 0;
}

.footer-nav a {
	color: #fff;
	margin-right: 27px;
}

.sitecredits {
	color: #cb8883;
}

.sitecredits a, .sitecredits a:visited {
	color: #cb8883;
	text-decoration: none;
}

.sitecredits a:hover {
	text-decoration: underline;
}

.addthis_toolbox {
	min-width: 250px !important;
}

.footer .share {
	width: 232px;
}

.footer .share .title {
	color: #fff;
	font: 30px/1em 'Font1 Extralight';
	margin: 0 0 12px 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.popup-location {
	left: -9999px;
	top: 0;
	position: absolute;
	background: #ebebeb;
	border: solid 1px #cacaca;
	padding: 14px 11px 10px 11px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.popup-location input {
	color: #7e7e7e;
	height: 27px;
	width: 207px;
	line-height: 26px;
}

.popup-location .buttons {
	margin: 5px 0 0 0;
	text-align: right;
}

@import 'jquery.fancybox.css';

@import 'responsive.css';

/*
 * IE 6/7/8
 * Должно быть в самом конце для применения к окончательно рассчитанным стилям
 */

input[type="text"], input[type="password"], select, textarea, .btn {
	*behavior: url('/js/libs/boxsizing-polyfill.htc')
}

@import 'print.css';