fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.cb,
.rd,
select,
.select,
.ui-selectmenu,
textarea,
input[type="text"],
input[type="password"] {
	font: 14px arial, helvetica cy, helvetica, sans-serif;
	position: relative;
	vertical-align: middle;
	background: #fff url("../i/sprite5.png");
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
		    transition: all 0.2s ease;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

input[type="text"], input[type="password"], .select {
	height: 28px;
	line-height: 26px;
	padding: 0 9px;
	border: solid 1px;
	border-color: #a7a7a7 #d8d8d8 #d8d8d8 #a7a7a7;
}

select:focus,
.select.-active,
.ui-selectmenu.ui-state-active,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	border-color: #7fa214 !important;
	box-shadow: 0 0 8px rgba(127,162,20,0.6)
}

select {
	padding-left: 9px;
}

textarea {
	resize: vertical;
	padding: 7px 0 7px 9px;
	border: solid 1px;
	border-color: #a7a7a7 #d8d8d8 #d8d8d8 #a7a7a7;
}

.form {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	background: #f2f2f2;
	margin-bottom: 30px;
	font: 15px Font1;
	padding: 25px 50px 25px 25px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.form dl {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.form dt {
	width: 105px;
	padding: .2em 20px 10px 0;
	margin: 0;
	text-align: right;
	display: table-cell;
	vertical-align: top;
}

.form dt .cb {
	font-size: 15px;
	color: #373737;
}

.form dd {
	margin: 0;
	padding: 0 0 10px 0;
	display: table-cell;
	vertical-align: top;
	position: relative;
}

.form .checkboxes {
	font-size: 12px;
}

.form .checkboxes .cb {
	display: block;
	margin-bottom: 11px;
}

.form select,
.form .select,
.form textarea,
.form input[type="text"],
.form input[type="password"] {
	width: 100%;
}

.input-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.placeholder {
	color: #7e7e7e;
	position: absolute !important;
	left: 0;
	top: 0;
	background: none !important;
	border: 0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.select {
	vertical-align: middle;
	display: inline-block;
	color: #7e7e7e;
	cursor: default;
	position: relative;
	padding-right: 24px;
}

.select > div {
	height: inherit;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select > div.selected {
	color: #000;
}

.select > div:after {
	top: .77em;
	right: 7px;
	width: 8px;
	height: 6px;
	content: '';
	z-index: 10;
	position: absolute;
	background: url("../i/sprites.png") 0 -201px no-repeat;
}

.select.-active > div:after {
	top: .5em;
	height: 14px;
	background-position: -12px -201px;
}

.select ul {
	color: #fff;
	display: none;
	z-index: 1000;
	list-style: none;
	font: 16px Font1;
	padding: 16px 20px 16px 9px;
	position: absolute;
	background: #96ae29;
	white-space: nowrap;
	margin: 0 0 0 -10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

.select ul .icon-close {
	top: 10px;
	right: 10px;
	position: absolute;
}

.select ul .icon-close:hover {
	background-position: 0 -261px;
}

.select ul .icon-clear {
	top: 45px;
	right: 9px;
	position: absolute;
}

.select ul .icon-clear:hover {
	background-position: -96px -261px;
}

.select ul li {
	padding: 0 0 0 4px;
	margin: 0 21px 0 0;
	vertical-align: top;
	display: inline-block;
	background: none;
	border-left: solid 1px #b6c66a;
}

.select ul a {
	color: #fff;
	display: block;
	padding: 6px;
	cursor: default;
	margin-bottom: 3px;
	position: relative;
	border: solid 1px #96ae29;
}

.select ul li a:last-child {
	margin-bottom: 0;
}

.select ul a:hover {
	background: #aabf48;
	border-color: #d3dcaa;
}

.select ul a.selected {
	background: #aabf48;
}

.select ul a.selected:hover {
	color: #fff;
}

.select .tip {
	left: -1px;
	top: -1px;
	position: absolute;
	height: 27px;
	min-width: inherit;
	line-height: 28px;
	white-space: nowrap;
	border: solid 1px;
	border-color: #a7a7a7 #d8d8d8 #d8d8d8 #a7a7a7;
	background: #fff url("../i/sprite5.png");
	padding: 0 9px 0 9px;
	display: none;
	z-index: 100;
	color: #000;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

.select .tip:after {
	display: none;
}

.cb {
	color: #6d6d6d;
	font: 12px Font1;
	background: none;
	padding-left: 22px;
	display: inline-block;
	vertical-align: middle;
}

.rd {
	background: none;
	font-size: 15px;
	padding-left: 22px;
	display: inline-block;
	vertical-align: middle;
}

.cb input[type="checkbox"],
.rd input[type="radio"]{
	position: absolute;
	margin-left: -999em;
}

.cb.-active, .rd.-active {
	color: #000;
}

.cb .icon-cb {
	margin: 0 7px 0 -22px;
}

.rd .icon-rd {
	margin: 0 7px 0 -22px;
}

input.error, textarea.error {
	border: solid 2px #b22d27 !important;
	border-radius: 3px;
}

input.filled, textarea.filled {
	border: solid 2px #79901b;
	border-radius: 3px;
}

p.error, dd.error {
	color: #dc0000;
}

p.error {
	margin-bottom: 2px;
}

.error + .icon-error,
.filled + .icon-check {
	position: absolute;
	margin: .4em 0 0 7px;
}

.form-reg input[type="text"],
.form-reg input[type="password"],
.form-reg textarea {
	width: 275px;
}

.note {
	font-size: 11px;
	color: #a8a8a8;
	display: block;
	text-align: center;
}

.form-reg [class^="btn"] {
	width: 140px;
	padding: 0;
}

.regn-types {
	margin-left: 22px;
}

.regn-types a {
	margin-left: 5px;
}

.fancybox-skin .form {
	margin-bottom: 0;
}

.form .buttons {
	margin-top: 25px;
}

.form .buttons .btn {
	margin-right: 20px;
}

.form .buttons.ar .btn {
	margin: 0 0 0 20px;
}

.form-auth .buttons {
	color: #969696;
	margin-top: 10px;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
}

.form-auth .buttons a[data-fancybox="ajax"] {
	text-decoration: none;
	background: url("../i/border2.png") 0 100% repeat-x;
}

.form-auth .buttons p {
	margin-bottom: 20px;
}

.form-auth .buttons a {
	color: #79901b;
	background: none;
}

.form-auth .buttons a:hover {
	text-decoration: none;
}

.captcha input[type="text"] {
	width: 140px;
	margin-right: 10px;
}

.form.-wide {
	padding: 35px 25px 25px 25px;
}

.form.-wide textarea {
	height: 260px;
}

.form.-fullwidth {
	padding: 35px 32px 25px 25px;
}

.form.-fullwidth textarea {
	height: 260px;
}

.form h6 {
	margin: 24px 0 4px 0;
	text-align: center;
	top: -.5em;
	color: #a1a1a1;
	position: relative;
	font: 24px 'Font1 Light';
}

.form h6:first-child {
	margin-top: 0;
}

.form h6 div {
	background: #f2f2f2;
	padding: 0 15px;
	z-index: 10;
	display: inline-block;
	position: relative;
}

.form h6:before {
	content: '';
	background: #c2c2c2;
	height: 1px;
	position: absolute;
	top: .65em;
	z-index: 1;
	left: 0;
	right: 0;
}

.field-phone {
	width: 140px !important;
}

.form-profile .col {
	width: 420px;
}

.form-profile .col:first-child {
	width: 420px;
	margin-right: 50px;
}

.form-profile dt {
	width: 120px;
}

.form-profile dd {
	width: 276px;
}

.note1 {
	font: 15px 'Font1 Medium';
	color: #000;
}

.form-leavereview .ratings dt {
	padding-right: 18px;
}

.form-leavereview textarea {
	height: 258px;
}

.field-datepicker {
	width: 130px;
	position: relative;
}

.field-datepicker input {
	padding-right: 20px;
	color: #919191;
}

.field-datepicker:after {
	position: absolute;
	right: 10px;
	top: 0.5em;
	width: 13px;
	height: 11px;
	content: '';
	background: url("../i/sprites.png") 0 -1153px;
}

.field-datepicker1 {
	padding: 0 25px 0 0;
	position: relative;
	display: inline-block;
	border-bottom: dashed 1px #909090;
}

.field-datepicker1 label {
	color: #909090;
	font: 24px/1em 'Font1 Light';
	cursor: default;
	position: relative;
	z-index: 101;
}

.field-datepicker1 input {
	position: absolute;
	opacity: 0;
	left: 0;
	z-index: 100;
}

.field-datepicker1:after {
	position: absolute;
	right: 0;
	top: 0.2em;
	width: 19px;
	height: 17px;
	content: '';
	background: url("../i/sprites.png") 0 -1217px;
}

.ui-selectmenu-menu.select-fixed {
	position: fixed !important;
}

.form-basicdata_address {
	width: 490px;
}

.checkboxes-style1 {
	margin: 0 0 15px 0;
}

.checkboxes-style1 label {
	font-size: 15px;
	margin: 0 20px 0 0;
}

.checkboxes-style1 .icon-cb {
	margin-top: -3px;
}

.form-basicdata_features .ib {
	margin-right: 15px;
}

.form-basicdata_features .ib:first-child {
	width: 160px;
	margin-right: 20px;
}

.radios-style1 {
	margin: 3px 0 10px 0;
}

.radios-style1 label {
	margin: 0 20px 5px 0;
}

.radios-style1 .rd .icon-rd {
	margin-top: -2px;
}

.checkboxes-style2 {
	margin: 10px 0 5px 0;
}

.checkboxes-style2 label {
	font-size: 15px;
	width: 135px;
	margin: 0 10px 15px 0;
}

.checkboxes-style3 label {
	margin: .45em 20px 15px 0;
}

.checkboxes-style3 label * {
	vertical-align: top;
}

.form-basicdata textarea {
	height: 70px !important;
}

.form-basicdata_description textarea {
	margin-right: 15px;
	width: 444px;
	height: 205px !important;
}

.form-basicdata_photo {
	width: 215px;
	margin: 0 0 0 10px;
}

.form-basicdata_photo p {
	margin-top: 10px;
}

.form-basicdata_photo .note {
	color: #828282;
	font-size: 12px;
	margin: 3px 0 10px 0;
}

.form-basicdata_photo .photo-placeholder {
	width: 215px;
	height: 145px;
	overflow: hidden;
	margin-bottom: 3px;
	background: #fff url("../i/photo-stub.png") 50% 50% no-repeat;
}

.fileinput {
	width: 100%;
	position: relative;
	vertical-align: middle;
	display: inline-block;
}

.fileinput > *:first-child {
	float: left;
	margin-right: 0.5em;
}

.fileinput input {
	width: auto;
	font: normal 1000px arial, helvetica cy, sans-serif;
	opacity: 0;
	border: 0;
	outline: none;
	position: absolute;
	right: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
}

.multiselect {
	position: relative;
}

.multiselect > div {
	cursor: default;
	color: #373737;
	padding-right: 20px;
	background: url("../i/border4.png") 0 100% repeat-x;
	font: 15px/1.4em 'Font1 Medium';
}

.multiselect > div:after {
	width: 8px;
	height: 6px;
	right: 7px;
	top: 8px;
	position: absolute;
	content: '';
	background: url("../i/sprites.png") -12px -209px;
}

.multiselect ul {
	max-width: 250px;
	max-height: 250px;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 100;
	background: #fff;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.multiselect li {
	margin: 0 !important;
	padding: 0 !important;
	list-style-image: none !important;
}

.multiselect label {
	color: #373737;
	display: block;
	white-space: nowrap;
	padding: 3px 25px 3px 32px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.multiselect label:hover,
.multiselect .-active {
	color: #373737;
	background: #dcd6d6;
}

.multiselect-checked-list {
	display: inline-block;
	vertical-align: top;
	margin-top: .1em;
}

.multiselect-checked-list div {
	cursor: pointer;
	padding: 0 5px 0 16px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: #949494;
	margin-right: 2px;
}

.multiselect-checked-list div:before {
	width: 8px;
	height: 8px;
	content: '';
	left: 5px;
	top: 0.4em;
	position: absolute;
	background: url("../i/sprites.png") -16px -1284px no-repeat;
}

.multiselect-checked-list.-big {
	margin-top: .3em;
}

.multiselect-checked-list.-big div {
	margin: 0 10px 10px 0;
	padding: 0 5px 0 26px;
	font-size: 15px;
}

.multiselect-checked-list.-big div:before {
	width: 12px;
	height: 12px;
	top: 0.2em;
	background: url("../i/sprites.png") -29px -1280px no-repeat;
}

ul.multiselect {
	margin: 0;
	height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	border: solid 1px;
	border-color: #a7a7a7 #d8d8d8 #d8d8d8 #a7a7a7;
}

ul.multiselect .cb {
	font-size: 15px;
	margin: 0 !important;
}

.multiselect-checked-list div:hover {
	background: #d0d0d0;
	color: #000;
}

.form-addnewdish {
	padding: 30px 40px 30px 10px;
}

.form-addnewdish .col:first-child {
	margin-right: 16px;
}

.form-addnewdish .col:first-child dt {
	padding-right: 10px;
}

.form-addnewdish .col:first-child dd {
	width: 460px;
}

.form-addnewdish strong {
	font-weight: normal;
	font-family: 'Font1 Bold';
}

.form-addnewdish ._price {
	line-height: 2em;
}

.form-addnewdish ._price input {
	width: 57px;
	margin: 0 30px 0 4px;
}

.form-addcategory {
	padding: 18px 14px;
}

.form-addcategory h5 {
	color: #9c0103;
	margin-bottom: .9em;
	font: normal 30px 'Font1';
}

.form-addcategory input[type="text"] {
	width: 590px;
	height: 34px;
	font: 18px/33px Font1;
}

.form-addcategory .btn {
	margin: 0 0 0 15px;
}

.inline-form_name dt {
	width: 134px;
}

.inline-form_name .col:first-child {
	float: left;
	width: 465px;
}

.inline-form_name .col:first-child + .col {
	float: right;
	max-width: 265px;
}

.inline-form_name .col:first-child + .col input {
	width: 120px;
	margin-left: 10px;
}

.radios-style2 .rd {
	margin: 0 23px 13px 0;
}

.inline-datepicker {
	position: relative;
}

.inline-datepicker.-disabled {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);
}

.inline-datepicker.-disabled:after {
	position: absolute;
	content: '';
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url("../i/blank.png");
}

.inline-form_avtime .multiselect {
	width: 132px;
	margin: 0 20px 0 18px;
}

.inline-form_avtime .multiselect-checked-list {
	width: 618px;
	margin-top: 12px;
}

.inline-form_avtime .multiselect-checked-list div {
	width: 62px;
}

.inline-form_cost .col_1 {
	width: 220px;
	text-align: right;
}

.inline-form_cost input {
	width: 52px !important;
	margin: 0 2px;
}

.inline-form_cost .big {
	font-size: 24px;
}

.inline-form_cost * {
	vertical-align: baseline;
}

.inline-form_cost .col {
	margin-right: 10px;
}

.inline-form_cost .image {
	width: 114px;
	height: 54px;
	background: url("../i/sprite8.png");
}

.inline-form_comp .ib:first-child {
	width: 275px;
	line-height: 1.5em;
}

.inline-form_comp .ib {
	margin-right: 40px;
}

.inline-form_comp input {
	width: 58px !important;
	margin-right: 4px;
}

.inline-form_comp * {
	vertical-align: middle;
}

.inline-form_about dd {
	width: 525px;
}

.inline-form_about textarea {
	height: 146px;
}

.inline-form_about input {
	width: 455px !important;
}

.inline-form_about > .col:first-child {
	margin-right: 22px;
}