[class^="icon-"], [class^="ibtn-"] {
	overflow: hidden;
	position: relative;
	text-indent: -999em;
	display: inline-block;
	vertical-align: middle;
	background: url("../i/sprites.png") 0 0 no-repeat;
}

[class^="ibtn-"] {
	background: url("../i/buttons.png") 0 0 no-repeat;
}

.icon-logo {
	width: 194px;
	height: 69px;
	background-position: 0 -76px;
}

.icon-pointer {
	width: 13px;
	height: 18px;
	background-position: 0 -35px;
}

.icon-key {
	width: 17px;
	height: 17px;
	background-position: 0 -56px;
}

.icon-key_white {
	width: 17px;
	height: 17px;
	background-position: -22px -56px;
}

.icon-pointer_small-red {
	width: 10px;
	height: 15px;
	background-position: 0 -148px;
}

.icon-pointer_small-grey {
	width: 10px;
	height: 15px;
	background-position: -13px -148px;
}

.ibtn-addplace, .ibtn-forbusiness, .ibtn-howworks {
	width: 232px;
	height: 90px;
	background-position: 0 0;
}

.ibtn-addplace:hover {
	background-position: -235px 0;
}

.ibtn-forbusiness {
	background-position: 0 -93px;
}

.ibtn-forbusiness:hover {
	background-position: -235px -93px;
}

.ibtn-howworks {
	background-position: 0 -186px;
}

.ibtn-howworks:hover {
	background-position: -235px -186px;
}

.icon-badge_small {
	width: 16px;
	height: 20px;
	background-position: 0 0;
}

a:hover .icon-badge_small {
	background-position: -20px 0;
}

.icon-plus_small {
	width: 11px;
	height: 12px;
	background-position: 0 -21px;
}

a:hover .icon-plus_small {
	background-position: -15px -21px;
}

.icon-close {
	width: 21px;
	height: 18px;
	background-position: 0 -239px;
}

.icon-cb {
	 width: 15px;
	 height: 14px;
	 background-position: -2000px -283px;
	 background-color: #fff;
	 box-shadow: 1px 1px 0 rgba(0,0,0,.2);
 }

.cb.-active .icon-cb {
	background-position: 0 -283px;
}

.cb:active .icon-cb {
	background-color: #ccc;
}

.icon-rd {
	width: 14px;
	height: 14px;
	background-position: -2000px -283px;
	background-color: #fff;
	border: solid 1px #aaa;
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	border-radius: 50%;
}

.rd.-active .icon-rd {
	background-position: -18px -283px;
}

.rd:active .icon-rd {
	background-color: #ccc;
}

[class^="icon-rating"] {
	height: 13px;
	vertical-align: text-bottom;
	background-position: 0 -166px;
}

[class^="icon-rating_wide"] {
	width: 77px !important;
}

.icon-rating-0_5,
.icon-rating_wide-0_5 {
	width: 13px;
	background-position: -80px -166px;
}

.icon-rating-1 {
	width: 13px;
}

.icon-rating_wide-1 {
	background-position: -208px -166px;
}

.icon-rating-1_5,
.icon-rating_wide-1_5 {
	width: 29px;
	background-position: -64px -166px;
}

.icon-rating-2 {
	width: 29px;
}

.icon-rating_wide-2 {
	background-position: -192px -166px;
}

.icon-rating-2_5,
.icon-rating_wide-2_5 {
	width: 45px;
	background-position: -48px -166px;
}

.icon-rating-3 {
	width: 45px;
}

.icon-rating_wide-3 {
	background-position: -176px -166px;
}

.icon-rating-3_5,
.icon-rating_wide-3_5{
	width: 61px;
	background-position: -32px -166px;
}

.icon-rating-4 {
	width: 61px;
}

.icon-rating_wide-4 {
	background-position: -160px -166px;
}

.icon-rating-4_5,
.icon-rating_wide-4_5 {
	width: 77px;
	background-position: -16px -166px;
}

.icon-rating-5 {
	width: 77px;
}

.icon-top {
	width: 87px;
	height: 34px;
	background-position: 0 -304px;
}

.move-top:hover .icon-top {
	background-position: -95px -304px;
}

.icon-error {
	width: 16px;
	height: 14px;
	background-position: 0 -344px;
}

.icon-check {
	width: 14px;
	height: 11px;
	background-position: 0 -363px;
}

.icon-check1 {
	width: 12px;
	height: 10px;
	background-position: 0 -1599px;
}

.icon-fb_small,
.icon-gplus_small,
.icon-myspace_small,
.icon-threedots_small {
	width: 18px;
	height: 19px;
	background-position: 0 -378px;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.icon-gplus_small {
	background-position: -21px -378px;
}

.icon-myspace_small {
	background-position: -42px -378px;
}

.icon-threedots_small {
	background-position: -63px -378px;
}

.icon-dish {
	width: 17px;
	height: 17px;
	background-position: 0 -427px;
}

.icon-usd {
	width: 17px;
	height: 17px;
	background-position: 0 -448px;
}

.icon-usd_red {
	width: 17px;
	height: 17px;
	background-position: -20px -448px;
}

.icon-usd_big {
	width: 25px;
	height: 25px;
	background-position: 0 -1237px;
}

.icon-usd_big_red {
	width: 25px;
	height: 25px;
	background-position: -29px -1237px;
}

.icon-clock {
	width: 17px;
	height: 17px;
	background-position: 0 -469px;
}

.icon-music {
	width: 17px;
	height: 17px;
	background-position: 0 -578px;
}

.icon-wifi {
	width: 17px;
	height: 17px;
	background-position: 0 -489px;
}

.icon-nursery {
	width: 17px;
	height: 17px;
	background-position: 0 -510px;
}

.icon-transit {
	width: 17px;
	height: 17px;
	background-position: 0 -598px;
}

.icon-parking {
	width: 17px;
	height: 17px;
	background-position: 0 -618px;
}

.icon-breakfast {
	width: 17px;
	height: 17px;
	background-position: 0 -850px;
}

.icon-dress {
	width: 17px;
	height: 17px;
	background-position: 0 -638px;
}

.icon-delivery {
	width: 17px;
	height: 17px;
	background-position: 0 -870px;
}

.icon-selfpickup {
	width: 17px;
	height: 17px;
	background-position: 0 -891px;
}

.icon-viewmap {
	width: 89px;
	height: 24px;
	background-position: 0 -534px;
}

.icon-viewmap:hover {
	background-position: -92px -534px;
}

.icon-error1 {
	width: 28px;
	height: 33px;
	background-position: 0 -913px;
}

.icon-photo {
	width: 15px;
	height: 12px;
	background-position: 0 -950px;
}

.icon-free {
	width: 55px;
	height: 19px;
	background-position: 0 -966px;
}

.icon-cal {
	width: 33px;
	height: 30px;
	background-position: 0 -989px;
}

.icon-cal_small {
	width: 13px;
	height: 11px;
	background-position: 0 -1153px;
}

.icon-cal_med {
	width: 19px;
	height: 17px;
	background-position: 0 -1217px;
}

.icon-clock1 {
	width: 31px;
	height: 30px;
	background-position: 0 -1023px;
}

.icon-user {
	width: 26px;
	height: 30px;
	background-position: 0 -1058px;
}

.icon-user_small {
	width: 19px;
	height: 19px;
	background-position: 0 -1105px;
}

.icon-print {
	width: 14px;
	height: 14px;
	background-position: 0 -1265px;
}

.icon-del {
	width: 14px;
	height: 10px;
	background-position: 0 -1282px;
}

.icon-del1 {
	width: 12px;
	height: 12px;
	background-position: -29px -1280px;
}

.icon-clear {
	width: 25px;
	height: 18px;
	background-position: -68px -261px;
}

.icon-logo_small {
	width: 151px;
	height: 56px;
	background-position: 0 -1316px;
}

.icon-logo_white {
	width: 139px;
	height: 45px;
	background-position: 0 -1376px;
}

.icon-close1 {
	width: 18px;
	height: 18px;
	background-position: -50px -239px;
}

.icon-close1:hover {
	background-position: -71px -239px ;
}

.icon-pencil {
	width: 93px;
	height: 94px;
	background: url("../i/sprites1.png");
}

.icon-dish1 {
	width: 130px;
	height: 89px;
	background: url("../i/sprites1.png") 0 -94px;
}

.icon-badge {
	width: 103px;
	height: 93px;
	background: url("../i/sprites1.png") 0 -188px;
}

.icon-case {
	width: 99px;
	height: 86px;
	background: url("../i/sprites1.png") 0 -284px;
}

.icon-lightbulb {
	width: 70px;
	height: 106px;
	background: url("../i/sprites1.png") 0 -373px;
}

.icon-edit {
	width: 17px;
	height: 17px;
	background-position: 0 -1485px;
}

.icon-eye {
	width: 21px;
	height: 11px;
	background-position: 0 -1506px;
}

.icon-eye1 {
	width: 21px;
	height: 11px;
	background-position: -25px -1506px;
}

.icon-up {
	width: 11px;
	height: 14px;
	background-position: 0 -1521px;
}

.icon-down {
	width: 11px;
	height: 14px;
	background-position: 0 -1539px;
}

.icon-check {
	width: 24px;
	height: 29px;
	background-position: 0 -1577px;
}

.icon-star {
	width: 13px;
	height: 13px;
	background-position: 0 -1612px;
}

.icon-star1 {
	width: 13px;
	height: 13px;
	background-position: -96px -166px;
}

.icon-upload {
	width: 11px;
	height: 12px;
	background-position: 0 -1629px;
}