.top-bar .wrapper, .nav-bar .wrapper, .logo-bar, [class^="layout"], .footer .cols-wrapper {
	width: 980px;
	margin: 0 auto;
}

[class^="layout"] {
	padding-bottom: 50px;
	position: relative;
}

/*Две колонки*/
.layout-twocols .content {
	width: 732px;
	float: left;
}

.layout-twocols .aside {
	width: 232px;
	float: right;
}

/*Две колонки 1*/
.layout-twocols1 .content {
	width: 545px;
	float: left;
}

.layout-twocols1 .aside {
	width: 372px;
	float: right;
}

/*Две колонки на главной странице*/
.main-page .aside {
	margin-top: -7px;
}

.footer-helper, .footer {
	clear: both;
	height: 146px;
	overflow: hidden;
}

.footer {
	background: url("../i/sprite6.png") 50% 0;
}

.footer .cols-wrapper {
	padding-top: 32px;
}

.footer .col {
	vertical-align: top;
}

.container {
	width: 100%;
	min-height: 100%;
	min-width: 980px;
	overflow: hidden;
	margin-bottom: -146px;
}

.header {
	margin-bottom: 30px;
}

.main-page .header {
	margin-bottom: 0;
}

.body-admin_yellow [class^="layout"],
.body-admin_yellow .top-bar .wrapper,
.body-admin_yellow .nav-bar .wrapper {
	width: 1230px;
}

.body-admin_yellow nav.primary > ul {
	margin-left: -16px;
}

.body-admin_mainpage.body-admin_yellow [class^="layout"],
.body-admin_mainpage.body-admin_yellow .top-bar .wrapper,
.body-admin_mainpage.body-admin_yellow .nav-bar .wrapper {
	width: 980px;
}